@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (signInManager.IsSignedIn(User))
    {
        <p>
            Welcome, <b>@User?.Identity?.Name</b>, your'e logged.
        </p>
    } else {
        <h3>Welcome please go to login page and choose one user:</h3>
        <ul class="list-group list-group-light">
            <li class="list-group-item">user: sa <br/> password: sa@123 <br/>role: superuser </li>
            <li class="list-group-item">user: josuel.lopes <br /> password: jl@123 <br />role: admin</li>
            <li class="list-group-item">user: eduardo.vieira <br /> password: ev@123 <br />role: user</li>
        </ul>
    }
</h3>
