@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!signInManager.IsSignedIn(User)){
        <h3>Welcome please go to login page and choose one user:</h3>
        <ul class="list-group list-group-light">
            <li class="list-group-item">sa | sa@123 | superuser</li>
            <li class="list-group-item">josuel.lopes | josuel.lopes@123 | admin</li>
            <li class="list-group-item">eduardo.vieira | eduardo.vieira@123 | user</li>
        </ul>
    }
</h3>
